/* FONTS */
@font-face{
    font-family: "ArchitectsDaughter";
    src:
        url("assets/fonts/ArchitectsDaughter-Regular.ttf")
}

@font-face{
    font-family: "Oxygen";
    src:
        url("assets/fonts/Oxygen-Regular.ttf")
}

@font-face{
    font-family: "GloriaHallelujah";
    src:
        url("assets/fonts/GloriaHallelujah-Regular.ttf")
}

@font-face{
    font-family: "DynaPuff";
    src:
        url("assets/fonts/Oxygen-Regular.ttf")
}

@font-face{
    font-family: "Mansalva";
    src:
        url("assets/fonts/Mansalva-Regular.ttf")
}

@font-face{
    font-family: "Overlock";
    src:
        url("assets/fonts/Overlock-Regular.ttf")
}

/* GENERAL */
html,body {
    height:100%;
    width:100%; 
    margin:0; 
    padding:0;
    color: #626262;
    font-family: Oxygen;
    font-size: medium;
    overflow: hidden;
    overflow-x: hidden;
}

.pageTitle {
    font-family: Mansalva !important;
    font-size: 2em;
    margin-left: 5%;
    margin-top: 2vh;
    color: #674D41;        
}

.container {
    height: 100vh !important; 
    width: 100% !important;
    background-color: #FEE2C6;
    transition: background-color 0.2s;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.page {
    height: 100vh; 
    width: 100% !important;
    overflow: hidden;
    scroll-snap-align: start !important;
    align-items: center;
}

a:link {
    text-decoration: none;
    color: #674D41;
}

a:visited {
    text-decoration: none;
    color: #674D41;
}

a:hover {
    text-decoration: none;
    font-size: 24px;
    color: #674D41;
}

a:active {
    text-decoration: none;
    color: #674D41;
}

/*
 * * * PAGE 1 * * *
 */

.bannerDiv {
    position: relative;
    height: 0;
    width: 100%;
    overflow: visible;
    
    .bannerImg {
        width: 100vw;
        height: 100vh;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    }
}

.shortcutDiv {
    display: flex;
    flex-direction: row;
    height: 5vh;
    gap: 1%;
    align-items: center;
    justify-content: end;
    padding-top: 1%;
    padding-right: 5%;
    overflow: visible;
    
    .shortcut{
        width: 13% !important;
        overflow: visible;
        font-family: Mansalva;
        font-size: 20px;
        text-align: center;
        transition: 0.1s ease-in-out;
    }


    a:link {
        text-decoration: none;
        color: #674D41;
    }

    a:visited {
        text-decoration: none;
        color: #674D41;
    }

    a:hover {
        text-decoration: none;
        font-size: 24px;
        color: #674D41;
    }

    a:active {
        text-decoration: none;
        color: #674D41;
    }

}

.content {
    display: flex;
}

.homeIdentity {
    display: flex;
    height: 90vh;
    width: 60%;
    flex-wrap: nowrap;
    padding-left: 5%;
    flex-direction: column;
    
    .homeSeparator {
        height: 45vh;
        width: 100%;
    }
    
    .homeNameSurname {
        height: 5vh;
        font-family: Mansalva;
        font-size: 2em;
        color: #674D41;
    }

    .homeSpecialty {
        height: 10vh;
        font-family: Mansalva;
        font-size: 3em;
        color: #674D41;
    }
    
    .homePitch {
        margin-right: 5%;
        height: 25vh;
        font-family: Overlock;
        font-size: 2em;
        text-align: justify;
    }
}

.diceImgDiv {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    align-self: flex-end;
    justify-items: flex-end;
    
    .diceImg {
        width: 25vw;
        height: auto;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    }
}

/*
 * * * PAGE 2 * * *
 */

/* GAMEDIVS */
.gameDivs {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    /*
    padding-left: 3%;
    padding-right: 3%;
    */
}

.gameDiv {
    height: 80%;
    width: 30%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    flex-direction: column;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center !important;
}

.gameDiv:hover {
    margin-top: -3%;
    
    .titleDiv {
        height: 10%;
    }
    
    .title {
        font-size: 140%;
    }
    
    .gameTypeDiv {
        height: 0 !important;
        opacity: 0;
    }
    
    .imgGameLogoDiv {
        height: 30%;
    }
    
    .detailDiv {
        height: 42%;
        opacity: 1;
        visibility: visible;
    }
    
    .buttonDiv {
        height: 15%;
        opacity: 1;
        visibility: visible;
    }
    
    
}

.gameDiv, .titleDiv, .title, .gameTypeDiv, .gameType, .gameDiv, .gameDiv, .imgGameLogoDiv, imgEngineLogoDiv, buttonDiv, button {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

/* ---- TITLE */
.titleDiv {
    height: 25%;
    width: 100%;
    position: relative;
    bottom: 0;
    align-items: flex-end !important;
    margin-bottom: 3%;
    overflow: visible !important;
}

.title {
    font-size: 180%;
    font-family: Mansalva;
    overflow: visible !important;
}

/* ---- GAME TYPE */
.gameType {
    font-size: medium;
    font-family: Overlock;
    margin: 0 !important;
}

.gameTypeDiv {
    height: 10%;
    opacity: 1;
}

/* ---- GAME LOGO */
.imgGameLogoDiv {
    height: 65%;
    align-items: top !important;
    vertical-align: top !important;
    padding-bottom: 10%;
}

.imgGameLogo {
    display: flex;
    max-height: 90%;
    max-width: 70%;
}

/* ---- DETAIL */
.detailDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    height: 0;
    opacity: 0;
    visibility: hidden;
}

.detail {
    
    padding-left: 10% !important;
    padding-right: 10% !important;
    
    justify-content: left !important;
    text-align: left !important; 
    font-size: 1em;
    font-family: Overlock;
}

/* ---- ENGINE LOGO */
.imgEngineLogoDiv {
    height: 0;
    overflow: hidden;
}

.imgEngineLogo {
    display: block;
    width: 21%;
    height: auto;
    margin: auto;
}

/* ---- BUTTON */
.buttonDiv {
    position: relative;
    height: 0;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.gameDiv .button {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #ffffff30;
    border: hidden;
    transition: ease-in-out .3s;
    font-family: Oxygen !important;
    font-size: medium !important;
    color: inherit !important;
}

.gameDiv .button:disabled {
    background-color: #00000030;
    cursor: not-allowed;
}

.gameDiv .button:disabled:hover {
    background-color: #00000030;
    cursor: not-allowed;
}

.gameDiv .button:hover {
    background-color: #ffffff70;
    font-size: larger !important;
    cursor: pointer;
}


/*
 * * * PAGE 3 * * *
 */

.presentationContent {
    display: flex;
    height: 100vh;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    /*
    background-color: #FEE2C6;
    */
    border-radius: 10px 10px 0 0; 
    gap: 5%;
    
    .imgHazelDiv {
        display: flex;
        flex-direction: column;
        width: 20%;
        
        .imgHazelSeparator {
            height: 15vh;
        }

        .imgHazel {
            height: auto;
        }
    }
    
    .enVracDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 5%;
        padding-left: 5%;
        
        .enVracTitle {
            font-family: Mansalva !important;
            font-size: 2em;
            margin-top: 2vh;
            color: #674D41;
            align-content: flex-end;
        }
        
        .enVracContent {
            font-family: Overlock;
            font-size: 1.35em;
            text-align: justify;
            padding-left: 5%;
            padding-right: 5%;
            align-items: left;
            
            .mailDiv {
                width: 0;
                text-align: center;
            }
        }
    }
}





/*
 * * * DÉTAIL JEUX * * *
 */

.pageDetail {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imageDetailRight {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 80hv;
    align-items: center;
    justify-content: center;
    
    .imageDetail {
        max-width: 70%;
        height: auto;
        margin-bottom: 5%;
    }
}

.headerDetail {
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
    margin-left: -5%;
    margin-bottom: 0;
    width: 100%;
}

.contentDetail {
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
    padding-left: 5%;
    width: 35%;
    text-align: justify;
    
    .homePitch {
        margin-right: 5%;
        font-family: Overlock;
        font-size: 1.3em;
        text-align: justify;
    }
}

.subtitleDetail {
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
    padding-left: 5%;
    font-family: Overlock;
    font-size: 1.6em;
}

.categoryDetail {
    color: #674D41;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
    font-family: Mansalva;
    font-size: 2.6em;
}

.imgDownArrowDiv {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 20%;
    width: 100%;
    
    .imgDownArrow {
        object-fit: contain;
        max-height: 80%;
        width: auto;
    }
}

.shortcutBackDiv {
    display: flex;
    flex-direction: row-reverse;
    height: 5vh;
    width: 100%;
    gap: 1%;
    justify-content: right;
    padding-top: 1%;
    padding-right: 5%;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 10%;
    
    .shortcut{
        overflow: visible;
        font-family: Mansalva;
        font-size: 20px;
        text-align: center;
        transition: 0.1s ease-in-out;
    }
    
    
    a:link {
        text-decoration: none;
        color: #674D41;
    }

    a:visited {
        text-decoration: none;
        color: #674D41;
    }

    a:hover {
        text-decoration: none;
        font-size: 24px;
        color: #674D41;
    }

    a:active {
        text-decoration: none;
        color: #674D41;
    }

}
    
.shortcutDetailDiv {
    display: flex;
    flex-direction: row;
    height: 5vh;
    gap: 1%;
    align-items: left;
    justify-content: left;
    padding-top: 1%;
    padding-right: 5%;
    overflow: visible;
    
    .shortcut{
        width: 100% !important;
        overflow: visible;
        font-family: Mansalva;
        font-size: 20px;
        text-align: center;
        transition: 0.1s ease-in-out;
    }


    a:link {
        text-decoration: none;
        color: #674D41;
    }

    a:visited {
        text-decoration: none;
        color: #674D41;
    }

    a:hover {
        text-decoration: none;
        font-size: 24px;
        color: #674D41;
    }

    a:active {
        text-decoration: none;
        color: #674D41;
    }
}

.contentDetail2 {
    display: flex;
    flex-direction: column;
    align-content: left;
    flex-wrap: wrap;
    padding-left: 5%;
    width: 80%;
    text-align: justify;
    
    .homePitch {
        margin-right: 5%;
        font-family: Overlock;
        font-size: 1.3em;
        text-align: justify;
    }
}